@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$font-stack: 'Open Sans', sans-serif;
$brand-color: #93cd0b;
$primary-color: #333;
$secondary-color: #FFF;

body {
  font-family: $font-stack;

  svg {
    background-color: $primary-color;
  }

  #content {
    margin : 0 auto;
  }
}

.uk {
  fill:black;
}

.site {
  fill: #3d4244;
  //stroke: #fff;
  cursor: pointer;

  &:hover {
    fill: #d15916;
  }
}

.particle {
  fill: $brand-color;
  //stroke: #fff;
}

.place {
  fill: #F00;
  stroke: #fff;
}