@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$font-stack: 'Open Sans', sans-serif;
$brand-color: #CCFF33;
$primary-color: #333;
$secondary-color: #FFF;

body {
  font-family: $font-stack;
  background-color: $primary-color;

  svg {
    background-color: $primary-color;
  }

  .page-header {
    text-align: left;

      a {
        text-decoration: none;
        pointer-events: none;
        cursor: default;
      }

      .mo-logo {
        float: left;
        width: 300px;
      }

      .navbar-title {
        font-size: 18px;
        padding-left: 80px;
        text-align: left;
        color: $secondary-color;
        clear: left;
        display: block;
      }
  }

  .site-info {
    background-color: black;
    color: $brand-color;
    border-radius: 5px;
    width: 300px;
    margin-left: 30px;

      p {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
      }
  }

  .close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    cursor: pointer;
  }

  #content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    .map {
      float: right;
    }
  }
}

.uk {
  fill:black;
}

.site {
  fill: #D7A900;
  //stroke: #fff;
  cursor: pointer;
  border: 100px solid transparent;

  &:hover {
    fill: #3d4244;
    border: 100px solid transparent;
  }
}

.particle {
  fill: $brand-color;
  //stroke: #fff;
}

.place {
  fill: #ED2939;
  stroke: #fff;
}
