@import 'https://fonts.googleapis.com/css?family=Open+Sans';

$font-stack: 'Open Sans', sans-serif;
$brand-color: #CCFF33;
$primary-color: #333;
$secondary-color: #FFF;

body {
  font-family: $font-stack;
  background-color: $primary-color;

  svg {
    background-color: $primary-color;
  }

  .page-header {
    text-align: left;
  }

  .mo-logo {
    float: left;
    width: 300px;
  }

  .navbar-title {
    font-size: 18px;
    padding-left: 80px;
    text-align: left;
    color: $secondary-color;
    clear: left;
    display: block;
  }

  #content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .map {
    float: right;
  }
}

.uk {
  fill:black;
}

.site {
  fill: #D7A900;
  //stroke: #fff;
  cursor: pointer;

  &:hover {
    fill: #3d4244;
  }
}

.particle {
  fill: $brand-color;
  //stroke: #fff;
}

.place {
  fill: #ED2939;
  stroke: #fff;
}
